<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      {{#foreach navigation}}
      <a class="blog-nav-item{{#if current}} active{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
      {{/foreach}}
    </nav>
  </div>
</div>
