<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="#">home</a>
      <a class="blog-nav-item" href="#">about</a>
      <a class="blog-nav-item" href="#">archived</a>
      <a class="blog-nav-item" href="#">web</a>
      <a class="blog-nav-item" href="#">contact</a>
    </nav>
  </div>
</div>
