<div class="sidebar">
    <header class="post-header sidebar-header">
        <h3 class="post-title sidebar-title">sidebar</h3>
    </header>
    <section class="post-excerpt sidebar-section">
        <p>text be here</p>
    </section>
</div>
