{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<div class="blog-header">
  <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
  <p class="lead blog-description">{{@blog.description}}</p>
</div>

<div class="row">

  <div class="col-sm-8 blog-main">

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

    <nav>
      <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </nav>

  </div><!-- /.blog-main -->

  {{!-- sidebar content be here - partials/sidebar.hbs --}}
  {{> "sidebar"}}

</div><!-- /.row -->
