// @import "compass/reset"; // NOTE: This fucks up Bootstrap, call first.
@import "mixins";
@import "variables";

/*
 * Globals
 */

html {
  min-height: 100vh;
  position: relative;
}

body {
  color: $color-body;
  background: $image-bg;
  font-family: $font-stack; // serif
  min-height: 100vh;
  // Fixed navbar
  // padding-top: 70px;
  // padding-top: 50px; // TODO: Use margin or padding for header/footer?
  // Fixed footer
  // padding-bottom: 130px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $color-heading;
  font-family: $font-stack; // sans-serif
  font-weight: normal;
  margin-top: 0;
}

a {
  @include transition(background, color);
}

a:hover {
  text-decoration: none !important;
}

/*
 * Custom stuff
 */

.blog-logo {
  background: $image-logo-1-1;
  height: 140px;
  width: 480px;
  @media screen and (max-width: $width-medium) {
    background: $image-logo-2-3;
    height: 92px;
    width: 317px;
  }
  @media screen and (max-width: $width-small) {
    background: $image-logo-1-2;
    height: 70px;
    width: 240px;
  }
}

// TODO: Refactor this shit.
.full-height {
  @include box-shadow;
  background: $color-bg-about;
  min-height: 100vh;
  // padding: 0 30px 0 30px;
  padding: 50px 30px 130px 30px;
}

.login a {
  @include button;
}

.nav-button a {
  @include button($v: 15px);
  margin: 0;
  padding: 15px !important;
  @media screen and (min-width: $width-medium) {
    display: none !important;
  }
}

.navbar-nav {
  @media screen and (max-width: $width-medium) {
    margin: 0;
  }
}

// Fixed navbar
.navbar {
  @include box-shadow($inset: inset);
  background: $color-bg-masthead;
  border: none;
  // color: $color-nav;
  // display: inline-block;
  font-weight: 500;
  // padding: 10px;
  // position: relative;
  a {
    color: $color-nav !important;
    &:hover,
    &:focus {
      color: $color-nav-hover !important;
      // text-decoration: none;
    }
  }

  .container {
    background: $color-bg-masthead;
    box-shadow: none;
  }

  @media screen and (max-width: $width-medium) {
    min-height: 45px;
  }
}

.navbar-nav .active a {
  background: lighten($color-bg-masthead, 2.5%) !important;
  color: $color-nav-caret !important;
  &:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
    @media screen and (max-width: $width-medium) {
      display: none;
    }
  }
}

.navbar {
  * {
    border-color: lighten($color-bg-masthead, 2.5%) !important;
  }
}

.nav-container {
  @media screen and (max-width: $width-medium) {
    // TODO: Responsive stuff be here.
    padding: 0;
  }
}

// Search
.btn {
  background: darken($color-bg-about, 2.5%);
}

.form-control {
  background: $color-bg-about;
}

/*
 * Original blog.scss stuff
 */

// TODO: Merge these classes with respective duplicates.
.blog-masthead {
  .container {
    background: $color-bg-masthead;
    // box-shadow: none;
    @media screen and (max-width: $width-medium) {
      // TODO: Responsive stuff be here.
    }
  }
}

.blog-description {
  @include border($bottom: 1px);
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.pager {
  text-align: center !important;
}

.blog-post {
  @include border($bottom: 1px);
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.sidebar-module {
  @include border($bottom: 1px);
}

.sidebar-module-inset {
  @include box-shadow($y: 0);
}

.blog-footer {
  @include box-shadow($inset: inset);
  bottom: 0;
  padding: 40px 30px !important;
  position: absolute;
  width: 100%;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    // width: 970px;
    width: 1024px;
  }
}

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: $color-bg-masthead;
  @include box-shadow($inset: inset);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: $color-nav;
}

.blog-nav-item:hover,
.blog-nav-item:focus {
  color: $color-nav-hover;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: $color-nav-caret;
}

.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
  @media screen and (max-width: $width-medium) {
    display: none;
  }
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}

.blog-description {
  @include font-size($size: 20px);
  color: $color-description;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  @include font-size($size: 18px);
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}

.sidebar-module-inset {
  padding: 15px;
  background-color: $color-bg-about;
  border-radius: 4px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}

.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}

.blog-post-title {
  margin-bottom: 5px;
  @include font-size($size: 40px);
}

.blog-post-meta {
  margin-bottom: 20px;
  color: $color-description;
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: $color-description;
  text-align: center;
  background-color: $color-bg-footer;
  border-top: 1px solid $color-border;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}
