@import "variables";

/*
 * Mixins
 */


@mixin border($bottom: 0px, $top: 0px) {
  border-bottom: $bottom solid $color-border;
  border-top: $top solid $color-border;
}

@mixin box-shadow($inset: null, $x: 0, $y: -2px, $blur: 5px) {
  -webkit-box-shadow: $inset $x $y $blur rgba(0,0,0,.1);
  box-shadow: $inset $x $y $blur rgba(0,0,0,.1);
}

@mixin button($v: 5px) {
  @include box-shadow($y: 2px, $blur: 0);
  $background-color: lighten($color-bg-masthead, 2.5%);
  background: $background-color;
  border-radius: 10px;
  margin: 10px;

  $vertical: $v;
  padding: $vertical 15px !important;

  &:hover,
  &:focus {
    background: lighten($background-color, 2.5%) !important;
  }

  &:active {
    @include box-shadow($inset: inset, $y: 2px, $blur: 0);

    $delta: 2px;
    padding: $vertical + $delta 15px $vertical - $delta !important;
  }
}

@mixin font-size($size, $medium: 0.9, $small: 0.8) {
  font-size: $size;
  @media screen and (max-width: $width-medium) {
    font-size: $size * $medium
  }
  @media screen and (max-width: $width-small) {
    font-size: $size * $small
  }
}

@mixin transition($properties...) {
  transition-property: $properties;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

