/*
 * Imports
 */
/*
 * Variables
 */
/*
 * Mixins
 */
/*
 * Globals
 */
/* line 73, ../sass/blog.scss */
html {
  min-height: 100vh;
  position: relative;
}

/* line 78, ../sass/blog.scss */
body {
  color: #555;
  background: url("/assets/images/bg-1-1.png");
  font-family: "Source Sans Pro", Arial, sans-serif;
  min-height: 100vh;
}

/* line 90, ../sass/blog.scss */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: #333;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: normal;
  margin-top: 0;
}

/* line 102, ../sass/blog.scss */
a {
  transition-property: background, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

/* line 106, ../sass/blog.scss */
a:hover {
  text-decoration: none !important;
}

/*
 * Custom stuff
 */
/* line 115, ../sass/blog.scss */
.blog-logo {
  background: url("/assets/images/logo-1-1.png");
  height: 140px;
  width: 480px;
}
@media screen and (max-width: 900px) {
  /* line 115, ../sass/blog.scss */
  .blog-logo {
    background: url("/assets/images/logo-2-3.png");
    height: 92px;
    width: 317px;
  }
}
@media screen and (max-width: 500px) {
  /* line 115, ../sass/blog.scss */
  .blog-logo {
    background: url("/assets/images/logo-1-2.png");
    height: 70px;
    width: 240px;
  }
}

/* line 132, ../sass/blog.scss */
.navbar {
  -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  background: #428bca;
  border: none;
  font-weight: 500;
}
/* line 141, ../sass/blog.scss */
.navbar a {
  color: #cdddeb !important;
}
/* line 143, ../sass/blog.scss */
.navbar a:hover, .navbar a:focus {
  color: #fff !important;
}
/* line 150, ../sass/blog.scss */
.navbar .container {
  background: #428bca;
  box-shadow: none;
}

/* line 156, ../sass/blog.scss */
.navbar-nav .active a {
  background: #4c91cd !important;
  color: #f5f5f5 !important;
}
/* line 159, ../sass/blog.scss */
.navbar-nav .active a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}
@media screen and (max-width: 900px) {
  /* line 159, ../sass/blog.scss */
  .navbar-nav .active a:after {
    display: none;
  }
}

/* line 180, ../sass/blog.scss */
.blog-masthead .container {
  background: #428bca;
}

/* line 189, ../sass/blog.scss */
.main {
  -webkit-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  background: #f5f5f5;
  min-height: 100vh;
  padding: 50px 30px 130px 30px;
}

/* line 197, ../sass/blog.scss */
.blog-description {
  border-bottom: 1px solid #e5e5e5;
  border-top: 0px solid #e5e5e5;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

/* line 203, ../sass/blog.scss */
.pager {
  text-align: center !important;
}

/* line 207, ../sass/blog.scss */
.blog-post {
  border-bottom: 1px solid #e5e5e5;
  border-top: 0px solid #e5e5e5;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

/* line 213, ../sass/blog.scss */
.sidebar-module {
  border-bottom: 1px solid #e5e5e5;
  border-top: 0px solid #e5e5e5;
}

/* line 217, ../sass/blog.scss */
.sidebar-module-inset {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* line 221, ../sass/blog.scss */
.blog-footer {
  -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  bottom: 0;
  position: absolute;
  width: 100%;
}

/*
 * Override Bootstrap's default container.
 */
@media (min-width: 1200px) {
  /* line 234, ../sass/blog.scss */
  .container {
    width: 1024px;
  }
}
/*
 * Masthead for nav
 */
/* line 245, ../sass/blog.scss */
.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Nav links */
/* line 251, ../sass/blog.scss */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}

/* line 258, ../sass/blog.scss */
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
/* line 265, ../sass/blog.scss */
.blog-nav .active {
  color: #f5f5f5;
}

/* line 268, ../sass/blog.scss */
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}
@media screen and (max-width: 900px) {
  /* line 268, ../sass/blog.scss */
  .blog-nav .active:after {
    display: none;
  }
}

/*
 * Blog name and description
 */
/* line 290, ../sass/blog.scss */
.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 294, ../sass/blog.scss */
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}

/* line 300, ../sass/blog.scss */
.blog-description {
  font-size: 20px;
  color: #999;
}
@media screen and (max-width: 900px) {
  /* line 300, ../sass/blog.scss */
  .blog-description {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  /* line 300, ../sass/blog.scss */
  .blog-description {
    font-size: 16px;
  }
}

/*
 * Main column and sidebar layout
 */
/* line 310, ../sass/blog.scss */
.blog-main {
  font-size: 18px;
  line-height: 1.5;
}
@media screen and (max-width: 900px) {
  /* line 310, ../sass/blog.scss */
  .blog-main {
    font-size: 16.2px;
  }
}
@media screen and (max-width: 500px) {
  /* line 310, ../sass/blog.scss */
  .blog-main {
    font-size: 14.4px;
  }
}

/* Sidebar modules for boxing content */
/* line 316, ../sass/blog.scss */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}

/* line 320, ../sass/blog.scss */
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

/* line 325, ../sass/blog.scss */
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/* Pagination */
/* line 333, ../sass/blog.scss */
.pager {
  margin-bottom: 60px;
  text-align: left;
}

/* line 337, ../sass/blog.scss */
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
 * Blog posts
 */
/* line 349, ../sass/blog.scss */
.blog-post {
  margin-bottom: 60px;
}

/* line 352, ../sass/blog.scss */
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
@media screen and (max-width: 900px) {
  /* line 352, ../sass/blog.scss */
  .blog-post-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 500px) {
  /* line 352, ../sass/blog.scss */
  .blog-post-title {
    font-size: 32px;
  }
}

/* line 356, ../sass/blog.scss */
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

/*
 * Footer
 */
/* line 366, ../sass/blog.scss */
.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

/* line 373, ../sass/blog.scss */
.blog-footer p:last-child {
  margin-bottom: 0;
}
