/*
 * Variables
 */
/*
 * Mixins
 */
/*
 * Globals
 */
/* line 46, ../sass/blog.scss */
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #555;
  background: url("/assets/images/bg-1-1.png");
}

/* line 52, ../sass/blog.scss */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

/* line 64, ../sass/blog.scss */
a {
  transition-property: background, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

/* line 68, ../sass/blog.scss */
a:hover {
  text-decoration: none;
}

/* line 73, ../sass/blog.scss */
.container {
  background: #eee;
  padding: 0 30px 0 30px;
}

/* line 79, ../sass/blog.scss */
.blog-masthead .container {
  background: #428bca;
}

/* line 83, ../sass/blog.scss */
.blog-description {
  border-bottom: 1px solid #e5e5e5;
  border-top: 0px solid #e5e5e5;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

/* line 89, ../sass/blog.scss */
.blog-post {
  border-bottom: 1px solid #e5e5e5;
  border-top: 0px solid #e5e5e5;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

/* line 95, ../sass/blog.scss */
.sidebar-module {
  border-bottom: 1px solid #e5e5e5;
  border-top: 0px solid #e5e5e5;
}

/*
 * Override Bootstrap's default container.
 */
@media (min-width: 1200px) {
  /* line 105, ../sass/blog.scss */
  .container {
    width: 1057px;
  }
}
/*
 * Masthead for nav
 */
/* line 116, ../sass/blog.scss */
.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Nav links */
/* line 123, ../sass/blog.scss */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}

/* line 130, ../sass/blog.scss */
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
/* line 137, ../sass/blog.scss */
.blog-nav .active {
  color: #eee;
}

/* line 140, ../sass/blog.scss */
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/*
 * Blog name and description
 */
/* line 159, ../sass/blog.scss */
.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 163, ../sass/blog.scss */
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}

/* line 169, ../sass/blog.scss */
.blog-description {
  font-size: 20px;
  color: #999;
}

/*
 * Main column and sidebar layout
 */
/* line 179, ../sass/blog.scss */
.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
/* line 185, ../sass/blog.scss */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}

/* line 189, ../sass/blog.scss */
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

/* line 194, ../sass/blog.scss */
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/* Pagination */
/* line 202, ../sass/blog.scss */
.pager {
  margin-bottom: 60px;
  text-align: left;
}

/* line 206, ../sass/blog.scss */
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
 * Blog posts
 */
/* line 218, ../sass/blog.scss */
.blog-post {
  margin-bottom: 60px;
}

/* line 221, ../sass/blog.scss */
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}

/* line 225, ../sass/blog.scss */
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

/*
 * Footer
 */
/* line 235, ../sass/blog.scss */
.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

/* line 242, ../sass/blog.scss */
.blog-footer p:last-child {
  margin-bottom: 0;
}
