/* ==========================================================================
   11. Footer - The bottom of every page
   ========================================================================== */
/* line 6, ../sass/footer.scss */
.site-footer {
  position: relative;
  margin: 8rem 0 0 0;
  padding: 1rem 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.75em;
  color: #bbc7cc;
}
@media screen and (max-width: 700px) {
  /* line 6, ../sass/footer.scss */
  .site-footer {
    display: none;
  }
}

/* line 19, ../sass/footer.scss */
.site-footer a {
  color: #bbc7cc;
  text-decoration: none;
  font-weight: bold;
}

/* line 25, ../sass/footer.scss */
.site-footer a:hover {
  border-bottom: #bbc7cc 1px solid;
}

/* line 29, ../sass/footer.scss */
.poweredby {
  display: block;
  width: 29%;
  float: right;
  text-align: right;
}

/* line 37, ../sass/footer.scss */
.copyright {
  display: block;
  width: 71%;
  float: left;
}
