/* ==========================================================================
   10. Subscribe - Generate those email subscribers
   ========================================================================== */
/* line 6, ../sass/subscribe.scss */
.gh-subscribe {
  border: #e7eef2 1px solid;
  padding: 3rem;
  margin-top: 3rem;
  text-align: center;
  background: #f5f8fa;
  border-radius: 5px;
}

/* line 15, ../sass/subscribe.scss */
.gh-subscribe-title {
  margin-bottom: 0;
  font-size: 2.4rem;
}

/* line 20, ../sass/subscribe.scss */
.gh-subscribe p {
  margin-top: 0;
  font-size: 1.5rem;
}

/* line 25, ../sass/subscribe.scss */
.gh-subscribe form {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

/* line 31, ../sass/subscribe.scss */
.gh-subscribe .form-group {
  flex-grow: 1;
  max-width: 300px;
}

/* line 36, ../sass/subscribe.scss */
.gh-subscribe .subscribe-email {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border-radius: 4px 0 0 4px;
  transition: all ease 0.5s;
}

/* line 44, ../sass/subscribe.scss */
.gh-subscribe .subscribe-email:focus {
  border: #5ba4e5 1px solid;
  transition: all ease 0.2s;
}

/* line 49, ../sass/subscribe.scss */
.gh-subscribe button {
  margin-left: -1px;
  border-radius: 0 4px 4px 0;
}

/* line 54, ../sass/subscribe.scss */
.gh-subscribe-rss {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4em;
}
