/* ==========================================================================
   3. Utilities - These things get used a lot
   ========================================================================== */
/* Clears shit */
/* line 7, ../sass/utilities.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 12, ../sass/utilities.scss */
.clearfix:after {
  clear: both;
}

/* line 13, ../sass/utilities.scss */
.clearfix {
  zoom: 1;
}

/* Hides shit */
/* line 16, ../sass/utilities.scss */
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

/* Creates a responsive wrapper that makes our content scale nicely */
/* line 23, ../sass/utilities.scss */
.inner {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
}

/* Centres vertically yo. (IE8+) */
/* line 31, ../sass/utilities.scss */
.vertical {
  display: table-cell;
  vertical-align: middle;
}

/* Wraps the main content & footer */
/* line 37, ../sass/utilities.scss */
.site-wrapper {
  position: relative;
  max-width: 975px;
  margin: 0 auto;
  z-index: 10;
  min-height: 100%;
  background: #fff;
  border-style: none;
  border-width: 1px;
  border-radius: 12px;
  border-color: #bfc8cd;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

/* line 56, ../sass/utilities.scss */
body.nav-opened .site-wrapper {
  overflow-x: hidden;
  -webkit-transform: translate3D(-240px, 0, 0);
  -ms-transform: translate3D(-240px, 0, 0);
  transform: translate3D(-240px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
}
